<div class="profile-links">
    <h5>Let's connect</h5>
    {% if site.twitter_username %}
    <a class="social-link" href="http://twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="fab fa-twitter fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.facebook_username %}
    <a class="social-link" href="http://facebook.com/{{ site.facebook_username }}" target="_blank">
        <i class="fab fa-facebook-f fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.instagram_username %}
    <a class="social-link" href="http://instagram.com/{{ site.instagram_username }}" target="_blank">
        <i class="fab fa-instagram fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.medium_username %}
    <a class="social-link" href="http://medium.com/@{{ site.medium_username }}" target="_blank">
        <i class="fab fa-medium-m fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.github_username %}
    <a class="social-link" href="http://github.com/{{ site.github_username }}" target="_blank">
        <i class="fab fa-github fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.behance_username %}
    <a class="social-link" href="http://behance.net/{{ site.behance_username }}" target="_blank">
        <i class="fab fa-behance fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.linkedin_username %}
    <a class="social-link" href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
        <i class="fab fa-linkedin-in fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.telegram_username %}
    <a class="social-link" href="http://t.me/{{ site.telegram_username }}" target="_blank">
        <i class="fab fa-telegram-plane fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.dribbble_username %}
    <a class="social-link" href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">
        <i class="fab fa-dribbble fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.flickr_username %}
    <a class="social-link" href="https://www.flickr.com/photos/{{ site.flickr_username }}" target="_blank">
        <i class="fab fa-flickr fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %} {% if site.formspree_key %}
    <a class="social-link special-link">
        <i class="fas fa-envelope fa-lg mr-md-3 mr-3 fa-2x"></i>
    </a>
    {% endif %}
</div>