$transform-angle: 180deg;

body,
html {
    height: 100%;
}

body {
    background-color: grey;
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
}

.card-inner {
    padding: 25px;
}

.card-front,
.card-back {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY($transform-angle);
}

.flipped {
    transform: rotateY($transform-angle);
}

.banner {
    width: 100%;
    height: 250px;
    margin-bottom: 80px;
}

.hidden {
    display: none;
}

.profile-img {
    margin-top: 110px;
}

.social-link {
    cursor: pointer;
}

.social-link:hover {
    text-decoration: none;
}
