$transform-angle: 180deg;
$card-border-radius: 25px;

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideup {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(0);
    }
}

body,
html {
    height: 100%;
}

body {
    background-color: grey;
    animation: fadein 1.3s;
    animation: slideup 0.5s;
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
    border-radius: $card-border-radius;
    border: none;
}

.banner {
    border-radius: $card-border-radius $card-border-radius 0 0;
}

.card-inner {
    padding: 25px;
    width: 100%;
}

.card-front,
.card-back {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY($transform-angle);
}

.flipped {
    transform: rotateY($transform-angle);
}

.banner {
    width: 100%;
    height: 250px;
    margin-bottom: 80px;
}

.hidden {
    display: none;
}

.profile-img {
    margin-top: 110px;
}

.social-link {
    cursor: pointer;
}

.social-link:hover {
    text-decoration: none;
}
